.header{
    background-color: white;
    display: flex;
    box-shadow: 1px 1px 3px rgb(156, 154, 154);
    height: 60px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
}
 .title{
    position: absolute;  
     flex: 1; 
    float: left;
    margin-top: 10px;  
    margin-left:70px; 
} 
.logout{
    flex:1; 
    position: absolute;
    top: 10px;
    right: 30px;

}

.filter{
    margin-top: 80px;
}

.chips{
    background-color: white;
    border-radius: 15px;
    margin-left: 2%;
    position: absolute;
    float: left;
    width: 25%;
}
.favorite{
    position:absolute;
    float: left;
    margin:157px 2%;
    width: 25%;

}

.image{
    margin-left: -60px;
    margin-top: -30px;

}
.sidebar{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    display: flex;
    
    /* padding-top: 10px; */
}
.allEvents{
    flex: 1;
    padding-top: 10px;
}

.allEvents:hover{
    background-color:rgb(222, 222, 222);
    cursor: pointer;
    height: 100px;
}
.create{
    flex: 1;
    padding-top: 10px;
}
.profileShow{
    position: fixed;
    right:0px;
    bottom: 50px;
    background-color: rgb(255, 255, 255);
    /* padding:10px 30px; */
    width:20%
}
.profileHide{
    display: none; 
}
.username:hover{
    background-color: grey;
}
.logout:hover{
    background-color: grey;
}
.create:hover{
    background-color:rgb(222, 222, 222);
    cursor: pointer;
    height: 100px;
}
.myEvents{
    flex: 1;
    padding-top: 10px;
}
.myEvents:hover{
    background-color:rgb(222, 222, 222);
    cursor: pointer;
    height: 100px;
}
.myFav{
    flex: 1;
    padding-top: 10px;

}
.myFav:hover{
    background-color:rgb(222, 222, 222);
    cursor: pointer;
    height: 100px;
}
.profile{
    flex: 1;
    padding-top: 10px;

}
.profile:hover{
    background-color:rgb(222, 222, 222);
    cursor: pointer;
    height: 100px;
}
@media only screen and (max-width:800px) {
    .chips{
        position:static;
    float:none;
    width: 70%;
margin: auto;
padding:10px 10px
    }
    .favorite{
        position:static;
    float:none;
margin: auto;
padding:10px 10px
    }
}